{% extends "base.html" %}


{% block content %}


<style>
i
	{
		color: #151515;
	}
	
b.ass
	{
		color:red;
	}
</style>


<!-- the middle contents -->
	<div class="contents">
		<section id="post">
			<div class="container">
				<div class="row">
				
				
				
				
				<div id="hide-preview">
					<div class="col-xs-12 col-md-3">
						<h3 class="sub-heading"><span class="yellowish">€99</span> for 30days</h3>
						<p><strong>How it works</strong></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at augue metus, at aliquam leo. Nam ac justo nisl. Ut non orci odio. Praesent lobortis blandit lacus et consectetur. Etiam ac sagittis tortor. Vestibulum vestibulum sem nec purus congue cursus. Sed bibendum lectus id tellus egestas sit amet interdum leo fringilla. Fusce dictum neque ut massa facilisis nec mattis erat blandit. In vel vestibulum massa.</p>

						<p><strong>Benefits</strong></p>
						<ol>
							<li>Consectetur adipiscing elit.</li>
							<li>Consectetur elit.</li>
							<li>Consectetur adipiscing.</li>
							<li>Consectetur adipiscing elit.</li>
							<li>Adipiscing elit.</li>
							<li>Consectetur adipiscing elit.</li>
						</ol>
					</div>
				</div>	
					
					
					
					
				<div id="show-preview">
					<div class="col-xs-12 col-md-3">
						<h3 class="sub-heading">About {{ first_name }} {{ last_name }}</h3>
						<p><strong>{{ employer.company_name }}</strong></p>
						<p>{{ employer.description }}</p>
						<p><a href="">company website &rarr;</a></p>
					</div>
				</div>
					
					
					
					
					
					
					<div class="col-xs-12 col-md-9">
						<h3 class="sub-heading">Post a job</h3>
						<div class="content-inner-detail">
							<form action="/createNewEmployer/" method="post" enctype="multipart/form-data">{% csrf_token %}

				<div id="page1">		
								<legend id="btn-sign-in">Have An Account?</legend>
								<div class="alert alert-warning">
								<a href="/login" class="btn btn-default navbar-btn pull-right">Sign in</a>
								If you don't have an account you can create one below by entering your email address. A password will be automatically
									emailed to you.
								<br>
								</div>{{ form.non_field_errors }}
								
						    	
						    	
						    	<div class="row">
						    	
						  			<div class="col-xs-12 col-md-6">
								    	<div class="form-group">
									    <label for=""><b class="ass">*</b> First Name</label>
									    {{form.first_name}}
									    {{ form.first_name.errors }}
									    <small class="help-block"><i>Required.</i>  </small>
									    
									  	</div>
							    	</div>
							    	<div class="col-xs-12 col-md-6">
								    	<div class="form-group">
									    <label for=""><b class="ass">*</b> Last Name</label>
									    {{form.last_name}}
									    {{ form.last_name.errors }}
									    <small class="help-block"><i>Required.</i> </small>
									  	</div>
							    	</div>
						    	</div>
						    				    	
								
								
						  		<div class="row">
						  			<div class="col-xs-12 col-md-6">
								    	<div class="form-group">
									    <label for=""><b class="ass">*</b> Email Address</label>
									    {{form.email}}
									    {{ form.email.errors }}
									    <small class="help-block"><i>Required.</i></small>
									  	</div>
							    	</div>
							    	<div class="col-xs-12 col-md-6">
								    	<div class="form-group">
									    <label for=""><b class="ass">*</b> Mobile Number</label>
									    {{form.phone}}
									    {{ form.phone.errors }}
									    <small class="help-block"><i>Required.</i></small>
									  	</div>
							    	</div>
						    	</div>



						    	<div class="row">
							    	<div class="col-xs-12 col-md-12">
								    	<br>
									    	<div class="form-group">
										    	<label><b class="ass">*</b> Job Title</label>
											    {{form.title}} <!--<input type="text" class="form-control input-lg">-->
											    {{ form.title.errors }}
										    	<small class="help-block"><i>Required.</i></small>
									    	</div>
								    	<br>
							    	</div>
						    	</div>
						    	
						    	<div class="row">
							    	<div class="col-xs-12 col-md-12">
									    	<div class="form-group">
										    	<label><b class="ass">*</b> Job Description</label>
										   		{{form.j_description}}
										   		{{ form.j_description.errors }}
										    	<small class="help-block"><i>Required.</i></small>
									    	</div>
								    	<br>
							    	</div>
						    	</div>
						    	
						    	<div class="row">
						    		<div class="col-xs-12 col-md-12">
						    			<button onclick="$('#display-re').slideToggle()" type="button" class="btn btn-info btn-xs">Add Responsibilities (optional)</button>
						    			<button onclick="$('#display-bp').slideToggle()" type="button" class="btn btn-info btn-xs">Add Benefits &amp; Perks (optional)</button>
						    		</div>
						    	</div>
						    	
						    	<br>
						    	
						    	<div id="display-re">
							    	<div class="row">
								    	<div class="col-xs-12 col-md-12">
									    	<br>
										    	<div class="form-group">
											    	<label>Responsibilities</label>
											   		{{form.responsibilities}}
											   		{{ form.responsibilities.errors }}
											    	<small class="help-block"><i>Optional.</i></small>
										    	</div>
									    	<br>
								    	</div>
							    	</div>
						    	</div>
						    	
						    	<div id="display-bp">
							    	<div class="row">
								    	<div class="col-xs-6 col-md-12">
									    	<br>
										    	<div class="form-group">
											    	<label>Benefits &amp; Perks</label>
											   		{{form.benefits_perks}}
											   		{{ form.benefits_perks.errors }}
											    	<small class="help-block"><i>Optional.</i></small>
										    	</div>
									    	<br>
								    	</div>
							    	</div>
						    	</div>


						    	<div class="row">
							    	<div class="col-xs-6 col-md-12">
							    		<div class="form-group">
								    	<label><b class="ass">*</b> Skills</label> <span><small>e.g. requirements</small></span>
								    	{{ form.skills }}
								    	{{ form.skills.errors }}
								    	<small class="help-block"><i>Required.</i><i>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</i></small>
								    	</div>
							    	</div>
						    	</div>
						    	<br>

				   
								<div class="row">
						  			<div class="col-xs-12 col-md-6">
								    	<div class="form-group">
									    <label for="id_title"><b class="ass">*</b> Job Type</label>
								    	{{form.type}}
								    	{{ form.type.errors }}
									    <small class="help-block"><i>Required.</i></small>
									  	</div>
							    	</div>
							    	
							    	<div class="col-xs-12 col-md-6">
							    		<div class="form-group">
							    		<label for="id_category"><b class="ass">*</b> Category</label>
								    	{{form.category}}
								    	{{ form.category.errors }}		
								    	<small class="help-block"><i>Required.</i></small>    	
								    	</div>
							    	</div>
						    	</div>
						    	
						    	
						    	<div class="row">
						  			<div class="col-xs-12 col-md-6">
						  			<label for="id_category">Compensation</label>
										<select class="form-control input-lg" id="paid-dd">
										  <option id="paid">Unpaid</option>
										  <option id="unpaid">Paid</option>
										</select>
										<small class="help-block">Rupee value amount.</small>
							    	</div>				    		    	
							    	<div class="col-xs-12 col-md-6">
							    		<div class="form-group">
							    		<label for="id_category"><b class="ass">*</b> Location</label>
								    	{{ form.location }}
								    	{{ form.location.errors }}
								    	<small class="help-block"><i>Required.</i></small>
								    	</div>
							    	</div>
						    	</div>
						    	
						    	
						    	<div class="row" id="page3">
							    	<div class="col-xs-12 col-md-6">
										<div class="radio">
										  <label>
										    <input type="radio" name="optionsRadios" id="no-url" value="no-url" checked>
										    Use SwitchIdea's application system
										  </label>
										</div>
										<div class="radio">
										  <label>
										    <input type="radio" name="optionsRadios" id="alt-url" value="alt-url">
										    Re-direct applicants to an alternative URL
										  </label>
										</div>
							    	</div>
						    	</div>
						    	
						    	
						    	<div class="row" id="paid-job">
							    	<div class="col-xs-12 col-md-6">
											<!-- COMPENSATION INVISIBLE -->
						  				<div class="form-group">
								    	<label>Compensation</label>
								   		{{form.compensation}}
								   		{{ form.compensation.errors }}
								    	
								    	</div>
							    	</div>
						    	</div>
						    	
						    	<div class="row" id="redirect-url">
							    	<div class="col-xs-12 col-md-6">
											<!-- REDIRECT URL INVISIBLE -->
							    		<div class="form-group">
								    	<label>Redirect URL</label> <span><small>e.g. requirements</small></span>
								    	{{form.url}}
								    	{{ form.url.errors }}
								    	<small class="help-block"><i>Optional.</i></small>
								    	</div>
							    	</div>
						    	</div>	
						    	<br>
						    	

						    	
						    	<button id="goto-page2" type="button" class="btn btn-success">Save &amp; Continue</button>				    	
				</div>    					    	
				<div id="page2">
				<legend id="btn-sign-in">Add more information to your post</legend>
						    	<div class="row">
						  			<div class="col-xs-12 col-md-6">
						  				<div class="form-group">
								    	<label><b class="ass">*</b> Company Name</label>
								   		{{ form.company_name }}      <!-------COMPANY NAME------->
								   		{{ form.company_name.errors }}
								    	<small class="help-block"><i>Required.</i></small>
								    	</div>
							    	</div>
							    	<div class="col-xs-12 col-md-6">
							    		<div class="form-group">
								    	<label><b class="ass">*</b> Company Website</label> <span><small>e.g. requirements</small></span>
								    	{{form.website}}	<!--------COMPANY WEBSITE----->
								    	{{ form.website.errors }}
								    	<small class="help-block"><i>Required.</i></small>
								    	</div>
							    	</div>
						    	</div>			    	
						    	
						    	<div class="row">
						  			<div class="col-xs-12 col-md-6">
								    	<div class="form-group">
									    <label for=""><b class="ass">*</b> Company Logo</label>
									    {{form.thumbnail}}
									    {{ form.thumbnail.errors }}
									    <small class="help-block"><i>Required.</i></small>
									  	</div>
							    	</div>
						    	</div>

						   		    	
						    	<br>
						    	
						    	{{ form.LinkedIn }}
						    	
						    	{{ form.Twitter }}
						    	
						    	{{ form.Facebook }}
								
						    	{{ form.password }}
						    	
						    	{{form.e_description}}
						    	<br>

						    	<button type="submit" class="btnblue btn-primary input-lg">Submit Post</button>
						    	

				</div>

							
						    	<br>
						    						    	
						    	
							</form>							
<style>

.chosen-select
{
padding: 10px 16px;
font-size: 28px;
line-height: 1.33;
width:100%;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] 
{
height: 46px;
padding: 10px 16px;
font-size: 18px;
line-height: 1.33;
border-radius: 3px;
}

.chosen-container-multi .chosen-choices li.search-choice
{
padding: 10px;
font-size: 20px;
height: 40px;
line-height: 22px;
}

{% load staticfiles %}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close 
{
position: absolute;
top: 4px;
right: 3px;
display: block;
width: 12px;
height: 12px;
background: url('{% static 'img/chosen-sprite.png' %}') -42px 1px no-repeat;
font-size: 1px;
}

textarea:focus
{
	background-color: #e0eeff !important;
	border-color: #7bb6ff !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
	color: #151515;
}

</style>
				
				
				<script>
$( document ).ready(function() 
{
	
	//make compensation numbers only
    $("#id_compensation").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) || 
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    
	//make mobile number numbers only
    $("#id_phone").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) || 
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    
    

	$('#display-re').hide();
	$('#display-bp').hide();
	$('#id_e_description').val('n/a');
	$('#id_e_description').hide();
	$('#page2').hide();
	$('#page3').hide();
	$('#show-preview').hide();
	$('#page1-error').hide();
	
	$('#paid-job').hide();
	$('#redirect-url').hide();
	
	$( "#paid-dd" ).change(function () {
		var selected_option = $('#paid-dd option:selected');
	    if (selected_option.val() == 'Paid')
	    {
		    $('#paid-job').slideDown();
	    }
	    else
	    {
		    $('#paid-job').slideUp();
	    }    
	});
		
	$( "#alt-url" ).click(function() {
	  $('#redirect-url').slideDown();
	});
	$( "#no-url" ).click(function() {
	  $('#redirect-url').slideUp();
	});
	
	$('input').focus(function(){
        $(this).removeClass('error');
    });

    $('textarea').focus(function(){
        $(this).removeClass('error');
    });

    $('select').change(function(){
        $(this).removeClass('error');
    });

    $('#id_compensation').removeAttr('type');

	$( '#goto-page2' ).click(function() 
		{
			var firstname = $('#id_first_name').val();
			var lastname = $('#id_last_name').val();
			var email = $('#id_email').val();
			var phone = $('#id_phone').val();
			
			var title = $('#id_title').val();
			var description = $('#id_j_description').val();
			
			var id_responsibilities = $('#id_responsibilities').text();
			var id_benefits_perks = $('#id_benefits_perks').text();
			var id_url = $('#id_url').val();
			
			var skills = $( "#id_skills" ).val();

            var job_type = $("#id_type").val()
            var location = $("id_location").val()

            var isValid = true;
			if (firstname == '')
            {
                $('#id_first_name').addClass('error');
                isValid = false;
            }

			if (lastname == '')
            {
                $('#id_last_name').addClass('error');
                isValid = false;
            }

            if (email == '')
            {
                $('#id_email').addClass('error');
                isValid = false;
            }


            if (phone == '')
            {
                $('#id_phone').addClass('error');
                isValid = false;
            }

            if (title == '')
            {
                $('#id_title').addClass('error');
                isValid = false;
            }

            if (description == '')
            {
                $('#id_j_description').addClass('error');
                isValid = false;
            }

            if (skills == null)
            {
                $('#id_skills').addClass('error');
                isValid = false;
            }

            if ($('#id_type').prop("selectedIndex") == 0){
                $('#id_type').addClass('error');
                isValid = false;
            }

            if ($('#id_location').prop("selectedIndex") == 0){
                $('#id_location').addClass('error');
                isValid = false;
            }

			if(isValid)
			{
				if (id_responsibilities == '')
					{
						$('#id_responsibilities').text('n/a');
					}
				if (id_benefits_perks == '')
					{
						$('#id_benefits_perks').text('n/a');
					}
				if (id_url == '')
					{
						$('#id_url').val('/job/');
					}
					$('#page1-error').hide();
					$('#page2').show();
					$('#page1').hide();
					$('#id_LinkedIn').val('No LinkedIn account');
					$('#id_LinkedIn').hide();
					$('#id_Twitter').val('No Twitter account');
					$('#id_Twitter').hide();
					$('#id_Facebook').val('No Facebook account');
					$('#id_Facebook').hide();
					$('#id_e_description').val('No employer description');
					$('#id_e_description').hide();
					$('#id_password').val('111111');
					$('#id_password').hide();

			}else{
                $('#page1-error').slideDown();
            }
		});
	
	
	$( '#goto-page3' ).click(function() {
		$('#page2').hide();
		$('#page3').show();
		$('#show-preview').show();
		$('#hide-preview').hide();
		$('#id_LinkedIn').val('No LinkedIn account');
		$('#id_LinkedIn').hide();
		$('#id_Twitter').val('No Twitter account');
		$('#id_Twitter').hide();
		$('#id_Facebook').val('No Facebook account');
		$('#id_Facebook').hide();
		$('#id_password').val('111111');
		$('#id_password').hide();
	});
	
	$('#id_thumbnail').addClass('form-control input-lg');
	$('#id_website').addClass('form-control input-lg');
	$('#id_company_name').addClass('form-control input-lg');
		
	$('#id_skills').addClass('form-control input-lg');
	$('#id_type').addClass('form-control input-lg');

    $('#id_email').addClass('form-control input-lg');
    $('#id_phone').addClass('form-control input-lg');
    $('#id_first_name').addClass('form-control input-lg');
    $('#id_last_name').addClass('form-control input-lg');
    
    $('#id_j_description').addClass('form-control input-lg');
    $('#id_j_description').css("height", "125px");
    
    $('#id_responsibilities').addClass('form-control input-lg');
    $('#id_responsibilities').css("height", "125px");
    $('#id_benefits_perks').addClass('form-control input-lg');
    $('#id_benefits_perks').css("height", "125px");

    $('#id_title').addClass('form-control input-lg');
    $('#id_category').addClass('form-control input-lg');
    $('#id_type').addClass('form-control input-lg');
    $('#id_location').addClass('form-control input-lg');
    $('#id_description').addClass('form-control input-lg');
    $('#id_responsibilities').addClass('form-control input-lg');
    
    $('#id_benefits_perks').addClass('form-control input-lg');
    $('#id_url').addClass('form-control input-lg');
    $('#id_compensation').addClass('form-control input-lg');
    $('#id_deadline').addClass('form-control input-lg');
});			
				</script>			
							

						</div>
						
								<br>
								<div id="page1-error" class="alert alert-danger alert-dismissable">
						    	<button type="button" class="close" data-dismiss="alert"></button>
						    	One or more required fields are not complete.</div>
					</div>
				</div>
			</div>

		</section>
	</div><!-- /.contents -->
	

	
	<br><br><br>
    <script>
        $( document ).ready(function() {
            $("#id_password").prop("type", "password");
        });
    </script>

	
{% endblock %}